extends layout

block content
	h1= title
	
	p #{title} is currently under development. If you would like to contribute, feel free to fork our 
		a(href="https://github.com/nightzirch/gw2calc") repo
		|  or contact me through 
		a(href="mailto:mail (at) christiangrimsgaard.net") email
		|.