doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title= title
		
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon", href="/img/favicon.ico?v=2")
		
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="/js/bootstrap.js")
	body
		header
			.background-container
			.background-fill
			
			nav#top-menu
				.container
					ul
						li
							a(href="/") gw2calc.com
						li
							a(href="http://gw2wardrobe.com") gw2wardrobe.com
						li
							a(href="https://github.com/nightzirch/gw2calc") GitHub
			
			nav#main-menu.navbar(role="navigation")
				.container
					ul.nav.navbar-nav
						li.active
							a(href="/") Home
						li
							a(href="/dungeoneer") Dungeoneer
						li
							a(href="/conditions") Conditions
						li
							a(href="/wintersday") Wintersday Gifts
						//-li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Dropdown
								ul.dropdown-menu(role="menu")
									li
										a(href="#") Action
		.container
			block content
		
		footer#about
			.background-container
				.container
					h1 Developers
					.row
						.col-md-4
							img.pull-left(src="/img/dev-chris.png")
							p Christian Grimsgaard is a 24 year old Norwegian with a Bachelor's Degree in Web Development and is shortly done with his Master's Degree in Interaction Design, both at Gjøvik University College in Norway. He loves JavaScript more than snow-covered mountains and skiing. No, he doesn't. A combination of the two, however, makes him giggle of excitement.
		
		footer#legal
			.container
				img.pull-left(src="/img/logo.png")
				p Guild Wars 2 Calculators is a non-profit fan-made site for Guild Wars 2. We consist of developers who enjoy Guild Wars 2 and our aim is to create tools and calculators that players may find helpful. Guild Wars 2 Calculators is in no way associated with ArenaNet, NCSOFT Corporation or the Guild Wars 2 trademark.
				p &copy;2014 Christian Grimsgaard.
				p &copy;2010–2014 ArenaNet, LLC. All rights reserved. Guild Wars, Guild Wars 2, ArenaNet, NCSOFT, the Interlocking NC Logo, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks are the property of their respective owners.
		
		script(src="//use.typekit.net/stf4tap.js")
		script try{Typekit.load();}catch(e){}

		script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-37836101-1', 'auto');ga('send', 'pageview');