.tokens img {
	height: 20px;
}

.dungeon > h3 {
	cursor: pointer;
}

.dungeon-name {
	display: none;
}

.dungeon-gear {
	border: 1px solid #898989;
	display: inline-block;
	margin: 2px 0px 0px 2px;
	cursor: pointer;
}

.dungeon-gear > img {
	opacity: .2;
}

.dungeon-gear:hover > img {
	opacity: .4;
}

.dungeon-gear.collected > img {
	opacity: 1;
}

.dungeon-gear.selected > img {
	opacity: 1;
}

.dungeon-gear .gear-cost {
	margin: 44px 0 0 -64px;
	width: 64px;
	height: 20px;
	display: inline-block;
	background: rgba(0,0,0,.66);
	color: #fff;
	text-align: center;
}

img.currency-icon {
	height: 20px;
	margin-left: 2px;
}

.dungeon-gear.collected .gear-cost {
	visibility: hidden;
}

img.quaggan {
	max-width: 300px;
}

.btn-save {
	margin-right: 6px;
	margin-left: 6px;
}