extends ../layout

block content
	link(rel="stylesheet", href="/css/wintersday.css")
	
	ol.breadcrumb
		li
			a(href="/") Home
		li
			a(href="/wintersday")= title
		li.active About
	
	h1 What is this?
	p This is a simple calculator that displays the prices of Small, Medium and Large Wintersday Gifts in terms of Ugly Socks, Hats and Sweaters. Last year you could trade Ugly Socks, Hats and Sweaters for the gifts. 8 Socks, 5 Hats or 3 Sweaters could be traded for a Small Wintersday Gift. 10 Socks, 8 Hats or 6 Sweaters could be traded for a Medium Wintersday Gift. And 12 Socks, 10 Hats or 8 Sweaters could be traded for a Large Wintersday Gift.
				
	p The profit calculated is without the TP fees in mind (15%).
			
	h1 Why are you doing this? You are hurting the economy!
	p Well. I am still a mere scrub when it comes to Trading Post speculations and investments. I am slowly learning, though. I made a similar calculator in a spreadsheet, but the price doesn't update automagically and I want it to update automagically. I figured more people could use it and maybe learn something from the economy of the game we all love.
			
	p And I dont think I am hurting the economy, but what do I know? I am just a mere scrub as previously stated. I think all the pro investors have already bunched up on this stuff as the price has already doubled in the past few weeks (from 17c to 34c for Ugly Socks for instance). I just hope I'm not shooting myself in the foot by making this tool available. I have of course invested some myself, but not crazy amounts like some might already have.
			
	h1 One more important thing...
	p I do not take responsibility for you losing your money. The prices may and will change alot both before and after Wintersday goes live. Don't blame it on me if you lose money. Chances are I probably did too then :(
	
	a.btn.btn-lg.btn-primary.pull-right(href="/", role="button") Alright, dude! Take me back to the calculator