header {
	background: url("../img/header.jpg") no-repeat;
	height: 301px;
	
	nav {
		background-color: transparent;
		border-color: none;
		
		ul:first-child {
			margin: 40px 0 0 480px !important;
			float: left !important;
			
			li {
				a {
					font-family: "adobe-text-pro",serif;
					font-size: 24px;
					color: #fff;
				}
				
				a:hover, a:focus {
					color: #e2a02f;
					background-color: transparent !important;
				}
				
				ul {
					li {
						a {
							color: #000;
						}
					}
					li:hover {
						background-color: rgba(0,0,0,.1)
					}
				}
			}
		}
	}
}